<h2 mat-dialog-title> {{ estadoFormulario }} nueva Categoría </h2>
<mat-dialog-content>

    <form [formGroup]="userForm">
        <div class="category-container">

            <mat-form-field>
                <input matInput placeholder="Usuario" formControlName="certificateUser" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Permisos" formControlName="permission" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Dias" formControlName="days" required>
            </mat-form-field>          

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="userForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
