<h2 mat-dialog-title> {{ estadoFormulario }} nueva Ca </h2>
<mat-dialog-content>

    <form [formGroup]="caForm">
        <div class="category-container">

            <mat-form-field>
                <input matInput placeholder="caName" formControlName="caName" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="cn" formControlName="cn" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="ou" formControlName="ou" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="O" formControlName="o" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="L" formControlName="l" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="ST" formControlName="st" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="C" formControlName="c" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Days " formControlName="year" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Pass" formControlName="pass" required>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="caForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
